/build
debian/build/
debian/debhelper-build-stamp
debian/files
debian/com.github.spheras.desktopfolder.debhelper.log
debian/com.github.spheras.desktopfolder.substvars
debian/com.github.spheras.desktopfolder/
.atom-dbg.cson
*~

