---

language: node_js

node_js:
  - lts/*

sudo: required

services:
  - docker

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-5-dev
      - intltool

cache:
  directories:
    - /tmp/liftoff

matrix:
    include:
      -env: DIST=juno

install:
  - npm i -g @elementaryos/houston

script:
  - houston ci
