@define-color colorBackground rgba(0,0,0,0.2);
@define-color colorForeground #FFFFFF;


.window-frame, .window-frame:backdrop {
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;

    border-style: inset;
    border-radius:4px;
    border-width: 1px;
    border-color: @colorBackground;
}

.background, .background:backdrop {
    background-color: @colorBackground;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;

    border-style:flat;
    border-width:10px;
    border-color:red;
}

.titlebar .title{
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:14px;
    padding-right:14px;
    margin-top:14px;
    color: @colorForeground;
}

.titlebar,
.titlebar:backdrop{
    background-color: @colorBackground;
    background-image: none;
    padding:14px;

    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;

    border-style:none;
    border-width:1px;
    border-color: @colorBackground;
}

.df_icon, .df_label{
    color:white;
}
