[Desktop Entry]
Name=Desktop-Folder
Name[lt]=Darbalaukio aplankas
Comment=Manage your desktop with folder panels
Comment[lt]=Tvarkyti savo darbalaukį aplanko polangių pagalba
Comment[es]=Administra tu escritorio con paneles
Comment[fr]=Gérez votre Desktop avec des Panneaux
Exec=com.github.spheras.desktopfolder
Icon=com.github.spheras.desktopfolder
Keywords=desktop;folder;file;organize;
Terminal=false
Type=Application
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-phase=Running
StartupNotify=false
Categories=GTK;Utility;
