[Desktop Entry]
Name=Desktop Folder
Name[ca]=Carpeta de l'escriptori
Name[da]=Skrivebordsmappe
Name[de_DE]=Desktop-Ordner 
Name[en_GB]=Desktop Folder
Name[es]=Carpeta de escritorio
Name[it]=Cartella Desktop
Name[ja]=デスクトップフォルダー
Name[lt]=Darbalaukio aplankas
Name[ms_MY]=Folder Dekstop
Name[nl_NL]=Bureaublad map
Name[pl]=Folder Pulpitu
Name[pt_BR]=Pasta da Área de Trabalho
Name[tr]=Masaüstü Klasörü
Comment=Organize your desktop with panels, notes and photos
Comment[ca]=Organitzeu l'escriptori amb plafons, notes i fotografies.
Comment[da]=Organiser dit skrivebord med paneler, noter og billeder
Comment[de_DE]=Organisiere deine Arbeitsoberfläche mit Leisten, Notizen und Fotos
Comment[en_GB]=Organise your desktop with panels, notes and photos
Comment[es]=Organice el escritorio con paneles, notas y fotos
Comment[fr]=Gérez votre Desktop avec des Panneaux
Comment[it]=Organizza il tuo desktop con pannelli, note e foto
Comment[ja]=デスクトップをパネル・ノート・写真で整理します
Comment[lt]=Tvarkyti savo darbalaukį aplanko polangių pagalba
Comment[ms_MY]=Urus desktop anda dengan panel, nota dan foto
Comment[nl_NL]=Beheer uw bureaublad met panelen, notities en afbeeldingen
Comment[pl]=Zarządzaj pulpitem za pomocą paneli, notatek i obrazów
Comment[pt_BR]=Organize sua área de trabalho com painéis, notas e fotos
Comment[tr]=Masaüstünüzü panel, not ve fotoğraflarla düzenleyin
Exec=com.github.spheras.desktopfolder
Icon=com.github.spheras.desktopfolder
Keywords=desktop;folder;file;organize;
Terminal=false
Type=Application
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-phase=Running
StartupNotify=false
Categories=GTK;Utility;
