[Desktop Entry]
Name=Desktop-Folder
Comment=Manage your desktop with folder panels
Exec=org.spheras.desktopfolder
Icon=org.spheras.desktopfolder
Keywords=desktop;folder;file;organize
Terminal=false
Type=Application
NoDisplay=false
StartupNotify=false
Categories=GTK;Utility;
