/* NOTE COLORS */
@define-color noteColorBackgroundYELLOW rgba(252,233,79,0.3);
@define-color noteColorBackgroundORANGE rgba(252,175,62,0.3);
@define-color noteColorBackgroundBROWN rgba(153,118,102,0.3);
@define-color noteColorBackgroundGREEN rgba(138,225,52,0.3);
@define-color noteColorBackgroundBLUE rgba(114,159,207,0.3);
@define-color noteColorBackgroundPURPLE rgba(173,127,168,0.3);
@define-color noteColorBackgroundRED rgba(239,41,41,0.3);
@define-color noteColorBackgroundBLACK rgba(0,0,0,0.3);
@define-color noteColorBackgroundTRANSPARENT rgba(0,0,0,0);
@define-color noteColorBackgroundGRAY rgba(211,215,207,0.3);

/* DESKTOP FOLDER COLORS */
@define-color colorBackgroundYELLOW rgba(252,233,79,0.3);
@define-color colorBackgroundORANGE rgba(252,175,62,0.3);
@define-color colorBackgroundBROWN rgba(153,118,102,0.3);
@define-color colorBackgroundGREEN rgba(138,225,52,0.3);
@define-color colorBackgroundBLUE rgba(114,159,207,0.3);
@define-color colorBackgroundPURPLE rgba(173,127,168,0.3);
@define-color colorBackgroundRED rgba(239,41,41,0.3);
@define-color colorBackgroundBLACK rgba(0,0,0,0.3);
@define-color colorBackgroundTRANSPARENT rgba(0,0,0,0);
@define-color colorBackgroundGRAY rgba(211,215,207,0.3);

/* TITLE COLORS */
@define-color colorForegroundLIGHT rgba(255,255,255,1);
@define-color colorForegroundDARK rgba(0,0,0,1);
@define-color colorForegroundHEADLESS rgba(0,0,0,0);
.df_folder.light .titlebar .title{
    color: @colorForegroundLIGHT;
}
.df_folder.dark .titlebar .title{
    color: @colorForegroundDARK;
}
.df_folder.headless .titlebar .title{
    color: @colorForegroundHEADLESS;
}


/* BODY COLORS */
/* TRANSPARENT */
.df_folder.df_note.window-frame.transparent, .df_folder.df_note.window-frame.transparent:backdrop,
.df_folder.df_note.background.transparent, .df_folder.df_note.background.transparent:backdrop,
.df_folder.df_note.transparent .titlebar, .df_folder.df_note.transparent .titlebar:backdrop {
    border-color: @noteColorBackgroundTRANSPARENT;
    background-color: @noteColorBackgroundTRANSPARENT;
    border-color: @noteColorBackgroundTRANSPARENT;
}
/* GRAY */
.df_folder.df_note.window-frame.gray, .df_folder.df_note.window-frame.gray:backdrop,
.df_folder.df_note.background.gray, .df_folder.df_note.background.gray:backdrop,
.df_folder.df_note.gray .titlebar, .df_folder.df_note.gray .titlebar:backdrop {
    border-color: @noteColorBackgroundGRAY;
    background-color: @noteColorBackgroundGRAY;
    border-color: @noteColorBackgroundGRAY;
}
/* PURPLE */
.df_folder.df_note.window-frame.purple, .df_folder.df_note.window-frame.purple:backdrop,
.df_folder.df_note.background.purple, .df_folder.df_note.background.purple:backdrop,
.df_folder.df_note.purple .titlebar, .df_folder.df_note.purple .titlebar:backdrop {
    border-color: @noteColorBackgroundPURPLE;
    background-color: @noteColorBackgroundPURPLE;
    border-color: @noteColorBackgroundPURPLE;
}
/* BLUE */
.df_folder.df_note.window-frame.blue, .df_folder.df_note.window-frame.blue:backdrop,
.df_folder.df_note.background.blue, .df_folder.df_note.background.blue:backdrop,
.df_folder.df_note.blue .titlebar, .df_folder.df_note.blue .titlebar:backdrop {
    border-color: @noteColorBackgroundBLUE;
    background-color: @noteColorBackgroundBLUE;
    border-color: @noteColorBackgroundBLUE;
}
/* GREEN */
.df_folder.df_note.window-frame.green, .df_folder.df_note.window-frame.green:backdrop,
.df_folder.df_note.background.green, .df_folder.df_note.background.green:backdrop,
.df_folder.df_note.green .titlebar, .df_folder.df_note.green .titlebar:backdrop {
    border-color: @noteColorBackgroundGREEN;
    background-color: @noteColorBackgroundGREEN;
    border-color: @noteColorBackgroundGREEN;
}
/* BROWN */
.df_folder.df_note.window-frame.brown, .df_folder.df_note.window-frame.brown:backdrop,
.df_folder.df_note.background.brown, .df_folder.df_note.background.brown:backdrop,
.df_folder.df_note.brown .titlebar, .df_folder.df_note.brown .titlebar:backdrop {
    border-color: @noteColorBackgroundBROWN;
    background-color: @noteColorBackgroundBROWN;
    border-color: @noteColorBackgroundBROWN;
}
/* BLACK */
.df_folder.df_note.window-frame.black, .df_folder.df_note.window-frame.black:backdrop,
.df_folder.df_note.background.black, .df_folder.df_note.background.black:backdrop,
.df_folder.df_note.black .titlebar, .df_folder.df_note.black .titlebar:backdrop {
    border-color: @noteColorBackgroundBLACK;
    background-color: @noteColorBackgroundBLACK;
    border-color: @noteColorBackgroundBLACK;
}
/* RED */
.df_folder.df_note.window-frame.red, .df_folder.df_note.window-frame.red:backdrop,
.df_folder.df_note.background.red, .df_folder.df_note.background.red:backdrop,
.df_folder.df_note.red .titlebar, .df_folder.df_note.red .titlebar:backdrop {
    border-color: @noteColorBackgroundRED;
    background-color: @noteColorBackgroundRED;
    border-color: @noteColorBackgroundRED;
}
/* YELLOW */
.df_folder.df_note.window-frame.yellow, .df_folder.df_note.window-frame.yellow:backdrop,
.df_folder.df_note.background.yellow, .df_folder.df_note.background.yellow:backdrop,
.df_folder.df_note.yellow .titlebar, .df_folder.df_note.yellow .titlebar:backdrop {
    border-color: @noteColorBackgroundYELLOW;
    background-color: @noteColorBackgroundYELLOW;
    border-color: @noteColorBackgroundYELLOW;
}
/* ORANGE */
.df_folder.df_note.window-frame.orange, .df_folder.df_note.window-frame.orange:backdrop,
.df_folder.df_note.background.orange, .df_folder.df_note.background.orange:backdrop,
.df_folder.df_note.orange .titlebar, .df_folder.df_note.orange .titlebar:backdrop {
    border-color: @noteColorBackgroundORANGE;
    background-color: @noteColorBackgroundORANGE;
    border-color: @noteColorBackgroundORANGE;
}

/* BODY COLORS */
/* TRANSPARENT */
.df_folder.window-frame.transparent, .df_folder.window-frame.transparent:backdrop {
    border-color: @colorBackgroundTRANSPARENT;
}
.df_folder.background.transparent, .df_folder.background.transparent:backdrop {
    background-color: @colorBackgroundTRANSPARENT;
}
.df_folder.transparent .titlebar, .df_folder.transparent .titlebar:backdrop{
    background-color: @colorBackgroundTRANSPARENT;
    border-color: @colorBackgroundTRANSPARENT;
}
/* GRAY */
.df_folder.window-frame.gray, .df_folder.window-frame.gray:backdrop {
    border-color: @colorBackgroundGRAY;
}
.df_folder.background.gray, .df_folder.background.gray:backdrop {
    background-color: @colorBackgroundGRAY;
}
.df_folder.gray .titlebar, .df_folder.gray .titlebar:backdrop{
    background-color: @colorBackgroundGRAY;
    border-color: @colorBackgroundGRAY;
}
/* PURPLE */
.df_folder.window-frame.purple, .df_folder.window-frame.purple:backdrop {
    border-color: @colorBackgroundPURPLE;
}
.df_folder.background.purple, .df_folder.background.purple:backdrop {
    background-color: @colorBackgroundPURPLE;
}
.df_folder.purple .titlebar, .df_folder.purple .titlebar:backdrop{
    background-color: @colorBackgroundPURPLE;
    border-color: @colorBackgroundPURPLE;
}
/* BLUE */
.df_folder.window-frame.blue, .df_folder.window-frame.blue:backdrop {
    border-color: @colorBackgroundBLUE;
}
.df_folder.background.blue, .df_folder.background.blue:backdrop {
    background-color: @colorBackgroundBLUE;
}
.df_folder.blue .titlebar, .df_folder.blue .titlebar:backdrop{
    background-color: @colorBackgroundBLUE;
    border-color: @colorBackgroundBLUE;
}
/* GREEN */
.df_folder.window-frame.green, .df_folder.window-frame.green:backdrop {
    border-color: @colorBackgroundGREEN;
}
.df_folder.background.green, .df_folder.background.green:backdrop {
    background-color: @colorBackgroundGREEN;
}
.df_folder.green .titlebar, .df_folder.green .titlebar:backdrop{
    background-color: @colorBackgroundGREEN;
    border-color: @colorBackgroundGREEN;
}
/* BROWN */
.df_folder.window-frame.brown, .df_folder.window-frame.brown:backdrop {
    border-color: @colorBackgroundBROWN;
}
.df_folder.background.brown, .df_folder.background.brown:backdrop {
    background-color: @colorBackgroundBROWN;
}
.df_folder.brown .titlebar, .df_folder.brown .titlebar:backdrop{
    background-color: @colorBackgroundBROWN;
    border-color: @colorBackgroundBROWN;
}
/* BLACK */
.df_folder.window-frame.black, .df_folder.window-frame.black:backdrop {
    border-color: @colorBackgroundBLACK;
}
.df_folder.background.black, .df_folder.background.black:backdrop {
    background-color: @colorBackgroundBLACK;
}
.df_folder.black .titlebar, .df_folder.black .titlebar:backdrop{
    background-color: @colorBackgroundBLACK;
    border-color: @colorBackgroundBLACK;
}
/* RED */
.df_folder.window-frame.red, .df_folder.window-frame.red:backdrop {
    border-color: @colorBackgroundRED;
}
.df_folder.background.red, .df_folder.background.red:backdrop {
    background-color: @colorBackgroundRED;
}
.df_folder.red .titlebar, .df_folder.red .titlebar:backdrop{
    background-color: @colorBackgroundRED;
    border-color: @colorBackgroundRED;
}
/* YELLOW */

.df_folder.window-frame.yellow, .df_folder.window-frame.yellow:backdrop {
    border-color: @colorBackgroundYELLOW;
}
.df_folder.background.yellow, .df_folder.background.yellow:backdrop {
    background-color: @colorBackgroundYELLOW;
}
.df_folder.yellow .titlebar, .df_folder.yellow .titlebar:backdrop{
    background-color: @colorBackgroundYELLOW;
    border-color: @colorBackgroundYELLOW;
}
/* ORANGE */
.df_folder.window-frame.orange, .df_folder.window-frame.orange:backdrop {
    border-color: @colorBackgroundORANGE;
}
.df_folder.background.orange, .df_folder.background.orange:backdrop {
    background-color: @colorBackgroundORANGE;
}
.df_folder.orange .titlebar, .df_folder.orange .titlebar:backdrop{
    background-color: @colorBackgroundORANGE;
    border-color: @colorBackgroundORANGE;
}

.df_folder.df_note.window-frame, .df_folder.df_note.window-frame:backdrop, decoration  {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.df_folder.window-frame, .df_folder.window-frame:backdrop, .df_folder.header-bar, .df_folder.header-bar:backdrop, decoration  {
    box-shadow: none;
    text-shadow: none;

    border-style: inset;
    border-radius:4px;
    border-width: 1px;
}

.df_folder.background, .df_folder.background:backdrop, decoration {
    box-shadow: none;
    text-shadow: none;

    border-style: none;
    border-width:10px;
    border-color:red;
}

.df_folder .titlebar .title{
    box-shadow: none;
    text-shadow: none;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:14px;
    padding-right:14px;
    /*
    margin-top:14px;
    */
    margin-top:0px;
    margin-bottom:0px;
}

.titlebar{
padding-top:0px;
padding-bottom:0px;
}

.df_folder .titlebar,
.df_folder .titlebar:backdrop{
    background-image: none;
    background:red;
    padding-left:14px;
    padding-right:14px;

    box-shadow: none;
    text-shadow: none;

    border-style:none;
    border-width:1px;

    padding-top:0px;
    padding-bottom:0px;
}

.df_item{
    border-radius:5px;
    transition-property: background;
    transition-duration: 0.5s;
}

.df_item.df_selected .df_label{
    background:#6699ff;
}

.df_item.df_item_over{
    background:rgba(255,255,255,0.2);
}

.df_icon, .df_label{
    color:white;
    font-weight:bold;
}

.df_folder.dark .df_item.df_selected .df_icon, .df_folder.dark .df_item.df_selected .df_label{
    color: @colorForegroundLIGHT;
}

.df_folder.light .df_icon, .df_folder.light .df_label{
    color: @colorForegroundLIGHT;
}
.df_folder.dark .df_icon, .df_folder.dark .df_label{
    color: #333;
}
.df_folder.headless .df_icon, .df_folder.headless .df_label{
    color: @colorForegroundLIGHT;
}

.df_rename{
    margin:20px;
    padding:20px;
}

.df_hint{
    color:white;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}

.df_note_text{
    font-weight: bold;
    font-size: 12px;
    background: rgba(0,0,255,0);
}

.df_note_text text{
background:rgba(0,0,0,0);
}

.df_note_text:selected{
    background-color:rgba(0,0,0,0.5);
}

.df_folder.df_note.light .df_note_text{
    color: @colorForegroundLIGHT;
}
.df_folder.df_note.dark .df_note_text{
    color: @colorForegroundDARK;
}
.df_folder.df_note.headless .df_note_text{
    color: @colorForegroundDARK;
}
